@mixin full_btn-style {
    padding: 19px 18px;
    color: #fff;
    background-color: var(--blue);
    font-weight: 400;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
    &:hover {
      background-color: #fff;
      color: black;
    }
    &:active {
      transform: scale(0.9);
    }
}
@mixin full_arrow-style {
  display: flex;
            align-items: center;
            justify-content: space-between;
            .card_circles-btns {
              display: flex;
              gap: 40px;
              .circles_btn {
                height: 14px;
                width: 14px;
                border-radius: 100%;
                border: none;
                transition: 0.3s all;
                background-color: var(--text-blue);
                opacity: 40%;
                cursor: pointer;
                &:hover {
                  background-color: var(--text-blue);
                  opacity: 100%;
                }
                &:active {
                  transform: scale(0.9);
                }
              }
          }
          .card_arrow-btns {
              display: flex;
              .arrow_btn {
                border: none;
                background-color: var(--text-blue);
                padding: 22px 26px;
                color: #fff;
                opacity: 40%;
                transition: 0.3s all;
                cursor: pointer;
                &:hover {
                  background-color: var(--text-blue);
                  color: #fff;
                  opacity: 100%;
                }
                &:active {
                  transform: scale(0.9);
                }
              }
            }
}